Repository quack-ai/companion-vscode, changes with the labels that .github/labeler.yml gives for each.
All labels: ext: tests, ext: scripts, module: app, topic: build, topic: ci, topic: docker, topic: documentation, type: code quality

.github/labeler.yml:

"ext: tests":
  - src/tests/*

"ext: scripts":
  - scripts/*

"module: app":
  - src/app.py

"topic: build":
  - package.json
  - yarn.lock

"topic: ci":
  - .github/*

"topic: docker":
  - docker-compose.yml
  - docker-compose.test.yml
  - Dockerfile
  - traefik.yml

"topic: documentation":
  - README.md
  - CONTRIBUTING.md
  - CHANGELOG.md
  - CODE_OF_CONDUCT.md

"type: code quality":
  - .eslintrc.json

chore: Adds VSCode config files
  .vscode/launch.json
  .vscodeignore
  .yarnrc
Labels: none

docs: Updates README, & markdown files
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: topic: documentation

docs: Adds makefile
  Makefile
Labels: none

chore: Adds deps & build system
  package.json
  yarn.lock
Labels: topic: build

feat: Adds extension files
  media/quack-logo.png
  media/quack-white.svg
  rollup.config.js
  src/extension.ts
  src/quack.ts
  src/telemetry.ts
  src/util/getNonce.ts
  src/util/github.ts
  src/util/session.ts
  src/webviews/GuidelineProvider.ts
  src/webviews/ScopeProvider.ts
  styles/reset.css
  styles/vscode.css
  tsconfig.json
  webpack.config.js
  webviews/components/Guideline.svelte
  webviews/components/Scope.svelte
  webviews/globals.d.ts
  webviews/pages/guideline.ts
  webviews/pages/scope.ts
  webviews/tsconfig.json
Labels: none

refactor: Renamed folder to svelte
  rollup.config.js
  svelte/components/Guideline.svelte
  svelte/components/Scope.svelte
  svelte/globals.d.ts
  svelte/pages/guideline.ts
  svelte/pages/scope.ts
  svelte/tsconfig.json
  tsconfig.json
Labels: none
