Repository quack-ai/companion-vscode, changes with the labels that .github/labeler.yml gives for each.
All labels: ext: media, module: activation, module: commands, module: util, module: webviews, module: extension, topic: build, topic: ci, topic: docs, topic: style

fix(util): avoid redirect on API
  src/util/quack.ts
Labels: module: util

docs(readme): update README
  README.md
  media/companion_chat.png
  media/compliance_hint.png
  media/create_guideline.png
  media/dev_walkthrough.png
  media/editor_view.png
  media/guideline_dashboard.png
  media/guideline_list.png
  media/quack-sidebar.png
Labels: ext: media, topic: docs

docs(walkthrough): update extension walkthrough
  package.json
Labels: topic: build

docs(changelog): update changelog
  CHANGELOG.md
Labels: topic: docs

build(version): bump version
  package.json
Labels: topic: build

docs(changelog): update content for release
  CHANGELOG.md
Labels: topic: docs

.github/labeler.yml:

'ext: media':
  - changed-files:
      - any-glob-to-any-file: media/*

'module: activation':
  - changed-files:
      - any-glob-to-any-file: src/activation/*

'module: commands':
  - changed-files:
      - any-glob-to-any-file: src/commands/*

'module: util':
  - changed-files:
      - any-glob-to-any-file: src/util/*

'module: webviews':
  - changed-files:
      - any-glob-to-any-file: src/webviews/*

'module: extension':
  - changed-files:
      - any-glob-to-any-file: src/extension.ts

'topic: build':
  - changed-files:
      - any-glob-to-any-file:
        - package.json
        - yarn.lock
        - tsconfig.json
        - webpack.config.js
        - .vscode/*

'topic: ci':
  - changed-files:
      - any-glob-to-any-file: .github/*

'topic: docs':
  - changed-files:
      - any-glob-to-any-file:
        - README.md
        - CONTRIBUTING.md
        - CHANGELOG.md
        - CODE_OF_CONDUCT.md

'topic: style':
  - changed-files:
      - any-glob-to-any-file:
        - .eslintrc.json
        - .husky/*
