Repository quack-ai/companion-vscode, pull requests merged in 2024-01, with the labels that each got.

#32 docs: Updates the copyright year
  README.md
  src/activation/activate.ts
  src/activation/environmentSetup.ts
  src/commands/assistant.ts
  src/commands/authentication.ts
  src/commands/diagnostics.ts
  src/commands/guidelines.ts
  src/extension.ts
  src/util/analytics.ts
  src/util/github.ts
  src/util/quack.ts
  src/util/session.ts
  src/util/vscode.ts
  src/webviews/guidelineView.ts
Labels: topic: documentation, type: enhancement, module: quack, module: telemetry, module: webviews, module: extension, module: commands, module: github, module: session

#33 docs: Updates marketplace related metadata
  package.json
Labels: type: enhancement, topic: build

#34 Renames media/ folder to assets/
  .github/labeler.yml
  CONTRIBUTING.md
  README.md
  assets/compliance_hint.png
  assets/dark/debug-rerun.svg
  assets/dark/error.svg
  assets/dark/pass.svg
  assets/dark/quack.svg
  assets/dark/refresh.svg
  assets/dev_walkthrough.png
  assets/editor_view.png
  assets/github_auth.png
  assets/guideline_dashboard.png
  assets/guideline_list.png
  assets/light/debug-rerun.svg
  assets/light/error.svg
  assets/light/pass.svg
  assets/light/quack.svg
  assets/light/refresh.svg
  assets/marketplace_page.png
  assets/quack-logo.png
  assets/quack-sidebar.png
  assets/quack-white.svg
  package.json
Labels: topic: documentation, type: misc, ext: media, topic: build, topic: ci

#35 Adds CI rules for auto stale and dependabot updates
  .github/dependabot.yml
  .github/stale.yml
Labels: type: new feature, topic: ci

#36 Fixes the dependabot config value for ecosystem
  .github/dependabot.yml
Labels: type: bug, topic: ci

#37 Adds precommit hooks for consistent contributions
  .github/labeler.yml
  .husky/pre-commit
  package.json
  yarn.lock
Labels: type: new feature, type: code quality, topic: build, topic: ci

#39 ci: Adds dependabot check for github actions
  .github/dependabot.yml
Labels: type: misc, topic: ci, dependencies

#38 fix: readme spelling
  README.md
Labels: topic: documentation, type: misc

#51 ci: Updates dependabot frequency
  .github/dependabot.yml
Labels: type: enhancement, topic: ci, dependencies

#55 ci(github): add jobs to verify PR labels and title
  .github/labeler.yml
  .github/release.yml
  .github/verify_labels.py
  .github/workflows/pr-labels.yml
  .github/workflows/pr-title.yml
  CONTRIBUTING.md
  package.json
Labels: topic: docs, type: feat, topic: build, topic: ci
